@page "/"

<PageTitle>Página Pricipal</PageTitle>

<div class="h2 p-2">
    Sistema de controle
</div>
<div class="p-2" style="font-size:18px">
    <br /><p>
        Projeto para um Sistema de controle simples.
    </p>

    @*Rodapé Ofir*@
    <footer>
        <br /><br />
        <div class="blockquote-footer">
            <div class="row">
                <div class="col-1 center">
                    <img class="img-fluid rounded" style="max-width: 100px;height:auto" src="/img/Ofir1.png" alt="Como o ouro de Ofir." />
                </div>

                <div class="col-3 h6 text-center align-text-bottom" >
                    <p></p>
                    Robson S. Pires
                    <br />Web Developer
                    <br /><a class="h6" href="https://github.com/Robsonspires" >github.com/Robsonspires.</a>
                </div>
                <div class="col-8">
                </div>
            </div>
        </div>
    </footer>
</div>
