@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/Robsonspires/SisControl.git" target="_blank" style="color:#d7d7d7">Sobre</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
