<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sistema de controle</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                <span class="oi oi-home" aria-hidden="true"></span> Início
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#Pessoas" @onclick="ToggleSubMenuPessoas">
                <span class="oi oi-@SignPessoa" aria-hidden="true"></span> Pessoas
            </NavLink>
        </div>

        @if (MenuPessoa)
        {
            <div class="expand mx-3 p-2">
                <ul>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="consultarPessoas">
                            <span class="oi oi-people" aria-hidden="true"></span> Consultar
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="cadastrarPessoa">
                            <span class="oi oi-person" aria-hidden="true"></span> Cadastrar
                        </NavLink>
                    </li>
                </ul>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#Lancamentos" @onclick="ToggleSubMenuLancamentos">
                <span class="oi oi-@SignLancamento" aria-hidden="true"></span> Lançamentos
            </NavLink>
        </div>

        @if (MenuLancamento)
        {
            <div class="expand mx-3 p-2">
                <ul>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="consultarLancamentos">
                            <span class="oi oi-people" aria-hidden="true"></span> Consultar
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="cadastrarPessoa">
                            <span class="oi oi-person" aria-hidden="true"></span> Cadastrar
                        </NavLink>
                    </li>
                </ul>
            </div>
        }

    </nav>
</div>


@code {
    private bool collapseNavMenu = true;
    private bool MenuPessoa, MenuLancamento = false;
    private string SignPessoa = "plus";
    private string SignLancamento = "plus";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        @if (MenuPessoa) { ToggleSubMenuPessoas(); }
        @if (MenuLancamento) { ToggleSubMenuLancamentos(); }

        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleSubMenuPessoas()
    {
        MenuPessoa = !MenuPessoa;
        SignPessoa = MenuPessoa ? "minus" : "plus";
    }

    private void ToggleSubMenuLancamentos()
    {
        MenuLancamento = !MenuLancamento;
        SignLancamento = MenuLancamento ? "minus" : "plus";
    }

}
